@model IEnumerable<SchoolManager.Domain.Entities.User>
@if (Request.IsAuthenticated)
{
    <p>Hola, </p>@Html.ActionLink(User.Identity.Name, "Profile", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })<p>!</p>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()">Salir</a>
    }
} else {
    @Html.ActionLink("Acceder", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
}