@if (Request.IsAuthenticated)
{
    <div id="profilepiclogin" class="avatar" style="background-image: url(@ViewBag.ProfilePicturePathWithOutSlash);"></div>
    <p style="float: left; padding: 11px 0 11px 20px;">Hola, @Html.ActionLink(User.Identity.Name.Split('|')[1], "Profile", "User", routeValues: new { id = User.Identity.Name.Split('|')[0] }, htmlAttributes: new { id = "profileLink" })!</p>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()">Salir</a>
    }
} else {
    @Html.ActionLink("Acceder", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
}