@model SchoolManager.Domain.Entities.Book
@{
    ViewBag.Title = "Eliminar";
}
@*<div class="banner-seccion">
    <img src="@Url.Content("~/Content/Images/banner_talleres.jpg")" />
</div>*@
<div class="row-donde">
    <div class="content-wrapper">
        <p>Estás aquí: <span>Admin</span> > <span>Libros</span> > <span class="hlited">Eliminar</span></p>
    </div>
</div>
<div class="content-wrapper seccion clear-fix">
    <h1 class="header-seccion">Eliminar libro</h1>
    @using (Html.BeginForm())
    {
        @:¿Está seguro que desea eliminar el libro <b>@Model.Title</b>
        <br />
        <br />
        <p>
            <input class="regularbtn float-left" type="submit" value="Eliminar" />
            <div class="secbtn padfix">@Html.ActionLink("Volver a la lista", "Index")</div>
        </p>
    }
</div>