@{
    ViewBag.Title = "La Casa";
}
<div class="banner-seccion">
    <img src="@Url.Content("~/Content/Images/banner_la_casa.jpg")" />
</div>
<div class="row-donde">
    <div class="content-wrapper">
        <p>
            Estás aquí: <span class="hlited">Home</span> > <span>La Casa</span></p>
    </div>
</div>
<div class="content-wrapper _lacasa seccion">
    <h1 class="header-seccion">
        El espacio y el edificio</h1>
    <div class="row">
        <div class="cell cell-2">
            <p class="regular">
                La valorización del espacio como elemento integrante de la propuesta educativa ha
                sido un criterio de gran peso en la definición del proyecto. El diseño de la casa,
                sus lugares, la calidez ambiental de los espacios buscan retenerlos.</p>
            <p class="regular">
                Aulas y salas aireadas, iluminadas y bien equipadas se continúan con un patio con
                árboles, sol y pájaros para jugar y distenderse.</p>
            <p class="regular">
                La casa, perteneciente al patrimonio histórico de la ciudad, fue planificada y construida
                por el arquitecto Gregorio Salamandekov y ha sido preservada en su delineado original,
                dotándola de elementos modernos de confort y seguridad.</p>
            <div class="ficha-tecnica">
                <p class="high">
                    Ficha técnica</p>
                <p class="regular">
                    Superficie cubierta 1000m2</p>
                <ul>
                    <li><span>1.</span>Biblioteca</li>
                    <li><span>2.</span>Salón de usos múltiples</li>
                    <li><span>3.</span>Dirección</li>
                    <li><span>4.</span>Recepción </li>
                    <li><span>5, 6, 7.</span>Aulas de primer ciclo</li>
                    <li><span>8.</span>Gabinete de computación</li>
                    <li><span>9.</span>Sanitarios</li>
                    <li><span>10.</span>Aula auxiliar</li>
                    <li><span>11.</span>Gabinete de psicopedagogía</li>
                    <li><span>12a.</span>Patios internos</li>
                </ul>
                <ul>
                    <li><span>12b.</span>Patio exterior 500 m2</li>
                    <li><span>13.</span>Taller de carpintería</li>
                    <li><span>14.</span>Taller de construcciones</li>
                    <li><span>15.</span>Cocina</li>
                    <li><span>16.</span>Comedor</li>
                    <li><span>17, 18, 20.</span>Aulas de segundo ciclo</li>
                    <li><span>19.</span>Taller de plástica</li>
                    <li><span>21.</span>Gimnasio</li>
                    <li><span>22.</span>Edificio sobre 19 de mayo</li>
                </ul>
                <ul class="disc">
                    <li><span>Instalaciones especiales</span></li>
                    <li>Aire acondicionado</li>
                    <li>Calefacción central</li>
                    <li>WiFi</li>
                </ul>
            </div>
        </div>
        <div class="cell cell-1">
            <img src="@Url.Content("~/Content/Images/lacasa.jpg")" />
        </div>
    </div>
</div>