@{
    ViewBag.Title = "La Escuela";
}

<div class="banner-seccion">
	<img src="@Url.Content("~/Content/Images/banner_talleres.jpg")" />
</div>

<div class="row-donde">
	<div class="content-wrapper">
		<p>Estás aquí: <span class="hlited">Home</span> > <span>La Escuela</span></p>
	</div>
</div>

<div class="content-wrapper _lacasa seccion">
	<h1 class="header-seccion">La escuela en el tiempo</h1>
	<div class="row">
		<div class="cell cell-2">
			<p class="regular">La Escuela de la Ciudad abre sus puertas en marzo de 1995 con 24 alumnos que comienzan primer grado.</p>
            <p class="regular">Se propone desde sus inicios atender las distintas instancias de la educación primaria.</p>
            <p class="regular">Con el paso del tiempo fue ampliando sus instalaciones, personalizando sus espacios y adquiriendo materiales acordes a las edades de su alumnado.</p>
            <p class="regular">Su equipo estable de maestros y profesores se capacita de manera continua con el objetivo de construir un entorno de aprendizaje que tenga solidez académica y que entusiasme y atrape a nuestros alumnos.</p>
			<div class="ficha-tecnica">
				<p class="high">26 alumnos</p>
				<p class="regular">Cada grado cuenta con un cupo máximo de 26 alumnos  para poder trabajar con un enfoque personalizado que estimule el rendimiento individual y social.</p>
                <br />
                <p class="high">Muebles ecológicos</p>
				<p class="regular">En el diseño del mobiliario se propuso un elemento constituyente que es rezago de las grandes bobinas de papel. Los caños de cartón conforman la estructura de bibliotecas, mesas, sillas, percheros, banquetas, etc. De esta manera las políticas de recuperación y reciclaje que proponemos desde los objetivos culturales a conseguir, se ven reflejadas dentro del funcionamiento del establecimiento de la manera más simple.</p>
			</div>
		</div>
		<div class="cell cell-1">
			<img src="@Url.Content("~/Content/Images/lacasa.jpg")" />
		</div>
	</div>
</div>