@{
    ViewBag.Title = "Mensaje enviado con éxito";
}
<div class="content-wrapper _contacto seccion">
    <h1 class="header-seccion">
        Gracias por contactar Escuela de la Ciudad</h1>
    <h2>
        A la brevedad nos contactaremos con usted</h2>
</div>