@{
    ViewBag.Title = "Propuesta";
}

<div class="banner-seccion">
	<img src="@Url.Content("~/Content/Images/banner_propuesta.jpg")" />
</div>

<div class="row-donde">
	<div class="content-wrapper">
		<p>Estás aquí: <span class="hlited">Home</span> > <span>Propuesta</span></p>
	</div>
</div>

<div class="content-wrapper _propuesta seccion">
	<h1 class="header-seccion">Nuestra propuesta</h1>
    <ul>
		<li>Tiene como objetivo una formación integral que tienda un puente entre la vida escolar y el acontecer social, cultural y tecnológico que vive el niño fuera de la escuela.</li>
        <li>Brinda oportunidades para aprender y crecer en cada rincón de la escuela, creando entornos para explorar, descubrir y construir conocimiento.</li>
        <li>Propone  desafíos que permitan explorar diferentes estrategias de resolución y desarrollar diferentes formas de pensamiento.</li>
        <li>Favorece el diálogo y la reflexión en la resolución de conflictos, construyendo relaciones de confianza  que formen una red social de contención.</li>
        <li>Prioriza el respeto, la solidaridad y el trabajo en equipo.</li>
        <li>Propone un trabajo constante  que tienda a despertar la curiosidad, el entusiasmo y el deseo de aprender.</li>
    </ul>
    <br />
    <br />
	<p class="high">Propone una metodología orientada a:</p>
	<ul>
		<li>El estímulo constante a partir del afecto, de las capacidades creativas e intelectuales, para incorporar al niño con alegría al proceso de aprendizaje.</li>
        <li>La utilización adecuada de los medios de información y las nuevas tecnologías al servicio del proceso educativo.</li>
        <li>El énfasis en las actividades artísticas y culturales para fomentar la creatividad, la sensibilidad, el sentido estético y la imaginación</li>
        <li>La formación del pensamiento científico que permita operar sistemáticamente sobre los contenidos de aprendizaje.</li>
        <li>La promoción de la actividad física y deportiva como un componente vital en el desarrollo del niño.</li>
        <li>La construcción de un comportamiento solidario y respetuoso, la vida en contacto con la naturaleza, las reuniones de reflexión y la participación en acontecimientos grupales.</li>
        <li>La valoración de la tarea de aprender entendiéndola como “trabajar con otros”. Para eso los niños deben ser capaces de: desplegar su iniciativa, organizar su acción y coordinarla con la de otras personas.</li>
        <li>La consideración de la evaluación como un proceso permanente y no sólo como un resultado.</li>
        <li>La búsqueda del crecimiento permanente de la comunidad educativa: niños, padres, maestros y coordinadores.</li>
        <li>La intensificación paulatina del conocimiento de la lengua inglesa hasta lograr una fluida comunicación verbal y escrita y facilitar la opción a exámenes internacionales.</li>
	</ul>
</div>