@*@model SchoolManager.Domain.Entities.Gallery*@

@{
    ViewBag.Title = "Nueva inscripción";
}

<div class="row-donde">
    <div class="content-wrapper">
        <p>Estás aquí: <span>Admin</span> > <span>Inscripciones</span> > <span class="hlited">Nueva</span></p>
    </div>
</div>
<div class="content-wrapper _novedades seccion">
    <h1 class="header-seccion">Nueva inscripción</h1>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

    <fieldset class="regularform editform">
        <div class="editor-title-section">
            <h2>EL ALUMNO SE INSCRIBE EN:</h2>
        </div>
        <div class="editor-label">
            <label for="Title">NIVEL/RAMA</label>@*<br />*@
            <select>
                <option value="inicial">Inicial</option>
                <option value="egb">E.G.B.</option>
                <option value="polimodal">Polimodal</option>
                <option value="cef">C.E.F.</option>
                <option value="cec">C.E.C.</option>
                <option value="especial">Especial</option>
                <option value="adultos">Adultos</option>
                <option value="artistica">Artística</option>
                <option value="otro">Otro</option>
            </select>
        </div>
        <div class="editor-label">
            <label for="Title">AÑO</label>
            <select>
                <option value="1">1°</option>
                <option value="2">2°</option>
                <option value="3">3°</option>
                <option value="4">4°</option>
                <option value="5">5°</option>
                <option value="6">6°</option>
                <option value="7">7°</option>
                <option value="8">8°</option>
                <option value="9">9°</option>
            </select>
        </div>
        <div class="editor-label">
            <label for="Title">TURNO SOLICITADO</label>
            <select>
                <option value="maniana">Mañana</option>
                <option value="tarde">Tarde</option>
                <option value="jornadaCompleta">Jornada Completa</option>
                <option value="vespertino">Vespertino</option>
                <option value="noche">Noche</option>
            </select>
        </div>
        <div class="editor-title-end"></div>
        <div class="editor-title-section"><h2>DATOS PERSONALES DEL ALUMNO</h2></div>
        <div class="editor-label">
            <label for="lastnames">APELLIDOS</label>
            <input class="extendedInput" type="text" name="lastnames">
        </div>
        <div class="editor-label">
            <label for="firstnames">NOMBRES</label>
            <input class="extendedInput" type="text" name="firstnames">
        </div>
        <div class="editor-label">
            <label class="extended" for="bday">FECHA DE NACIMIENTO</label>
            <input type="date" name="bday">
        </div>
        <div class="editor-label">
            <label class="extended" for="birthplace">LUGAR DE NACIMIENTO</label>
            <input class="extendedInput" type="text" name="birthplace">
        </div>
        <div class="editor-label">
            <label for="dni">DNI</label>
            <input type="number" name="dni">
        </div>
        <div class="editor-label">
            <label for="gender">SEXO</label>
            <input id="male" type="radio" name="gender" value="male">
            <label for="male">Masculino</label>
            <input id="female" type="radio" name="gender" value="female">
            <label for="female">Femenino</label>
        </div>
        <div class="editor-label">
            <div class="editor-title-section">DOMICILIO FAMILIAR</div>
        </div>
        <div class="editor-label">
            <label for="street">CALLE</label>
            <input class="extendedInput" type="text" name="street">
            @*</div>
                <div class="editor-label">*@
            <label for="streetNumber">N°</label>
            <input type="number" name="streetNumber">
        </div>
        <div class="editor-label">
            <label for="floor">PISO</label>
            <input type="text" name="floor">
            @*</div>
                <div class="editor-label">*@
            <label for="dpto">DPTO</label>
            <input type="text" name="dpto"><br />
        </div>
        <div class="editor-label">
            <label for="loc">LOCALIDAD</label>
            <input class="extendedInput" type="text" name="loc">
            @*</div>
                <div class="editor-label">*@
            <label for="code">CODIGO POSTAL</label>
            <input type="text" name="code">
        </div>
        <div class="editor-title-end"></div>
        <div class="editor-label">
            <label for="phone">TELEFONO FAMILIAR</label>
            <input type="text" name="phone">
        </div>
        <div class="editor-label">
            <label for="cellphone">CELULAR</label>
            <input type="text" name="cellphone">
        </div>
        <div class="editor-label">
            <label for="otherphones">OTROS TELEFONOS</label>
            <input class="extendedInput" type="text" name="otherphones">
        </div>
        <div class="editor-label">
            <label for="fatherEmail">EMAIL DEL PADRE</label>
            <input class="extendedInput" type="email" name="fatherEmail">
        </div>
        <div class="editor-label">
            <label for="motherEmail">EMAIL DE LA MADRE</label>
            <input class="extendedInput" type="email" name="motherEmail">
        </div>
        <div class="editor-label">
            ¿CUANTOS HERMANOS TIENE?<br />
            <input type="number" name="brothers">
        </div>
        <div class="editor-label">
            ¿CUANTOS EN ESTE ESTABLECIMIENTO?<br />
            <input type="number" name="inthisschool">
        </div>
        <div class="editor-label">
            FECHA DE NACIMIENTO DE LOS HERMANOS QUE QUIERE DEJAR INSCRIPTOS<br />
            <input class="extendedInput" type="text" name="bdaybrothers">
        </div>
        <div class="editor-label">
            SI NO HABLA ESPAÑOL, LENGUA HABLADA EN EL HOGAR<br />
            <input class="extendedInput" type="text" name="language">
        </div>
        <div class="editor-title-end"></div>
        <div class="editor-label">
            <input id="otroEst" type="checkbox" name="otroEst" value="otroEst"><label class="extended" style="width: 30%;" for="otroEst">PROVIENE DE OTRO ESTABLECIMIENTO</label>
        </div>
        <div id="escuelaProcedencia" style="display:none">
            <div class="editor-title-section"><h2>ESCUELA DE PROCEDENCIA</h2></div>
            <div class="editor-label">
                Distrito<br>
                <input type="text" name="district"><br>
                Nivel/Rama<br>
                <input type="text" name="level"><br>
                Nombre del establecimiento<br>
                <input type="text" name="schoolName"> Nro <input type="text" name="schoolNumber">
                <input type="checkbox" name="private" value="Private"> Privado<br />
                <div>
                    INFORMACIÓN DE SALUD<br />
                    <input type="checkbox" name="completed" value="completo"> Completó <input type="checkbox" name="updated" value="Actualizo"> Actualizó<br />
                </div>
                <div><input type="checkbox" name="obraSocial" value="obraSocial"> Obra Social N° Afiliado <input type="number" name="affiliateNumber"><br></div>

            </div>
            <div class="editor-title-end"></div>
        </div>
        <div class="editor-title-section"><h2>DATOS DE LA MADRE</h2></div>
        <div class="editor-label">
            <label class="extended" for="motherName">APELLIDOS Y NOMBRES</label>
            <input class="extendedInput" type="text" name="motherName">
        </div>
        <div class="editor-label">
            <label class="extended" for="motherProfesion">PROFESION U OCUPACION</label>
            <input class="extendedInput" type="text" name="motherProfesion">
        </div>
        <div class="editor-label">
            <label for="motherNationality">NACIONALIDAD</label>
            <input type="text" name="motherNationality">
        </div>
        <div class="editor-label">
            <label class="extended" for="Title">NIVEL DE INSTRUCCION:</label>
            <select>
                <option value="ninguno">Ninguno</option>
                <option value="primario">Primario</option>
                <option value="secundario">Secundario</option>
                <option value="terciario">Terciario</option>
                <option value="universitario">Universitario</option>
                <option value="posgrado">Posgrado</option>
            </select>
            <input type="radio" name="instructionLevelMotherCompleted" value="Completo" /> Completo
            <input type="radio" name="instructionLevelMotherCompleted" value="Incompleto" /> Incompleto Hasta el año/grado <input type="text" name="yearInstructionLevelMother"><br>
        </div>
        <div class="editor-label">
            <label>¿VIVE?</label>
            <select>
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>
        </div>
        <div class="editor-label">
            <label class="extended" for="typeDNIMother">TIPO DE DOCUMENTO</label>
            <input type="text" name="typeDNIMother">
        </div>
        <div class="editor-label">
            <label for="numberDNIMother">N° DOCUMENTO</label>
            <input type="number" name="numberDNIMother">
        </div>
        DOMICILIO<br>
        <div class="editor-label">
            <label for="streetMother">CALLE</label>
            <input class="extendedInput" type="text" name="streetMother">
            <label for="numberStreetMother">N°</label>
            <input type="number" name="numberStreetMother">
        </div>
        <div class="editor-label">
            <label for="streetFloorMother">PISO</label>
            <input type="text" name="streetFloorMother">
            <label for="streetTowerMother">TORRE</label>
            <input type="text" name="streetTowerMother">
            <label for="streetDptoMother">DPTO</label>
            <input type="text" name="streetDptoMother">
        </div>
        <div class="editor-label">
            <label for="localidadMother">LOCALIDAD</label>
            <input class="extendedInput" type="text" name="localidadMother">
            <label for="postalCodeMother">CODIGO POSTAL</label>
            <input type="number" name="postalCodeMother">
        </div>
        <div class="editor-label">
            <label for="phoneMother">TELEFONO</label>
            <input type="text" name="phoneMother">
        </div>
        <div class="editor-label">
            <label class="extended" for="workPhoneMother">TELEFONOS DEL TRABAJO</label>
            <input type="text" name="workPhoneMother">
        </div>
        <div class="editor-title-end"></div>
        <div class="editor-title-section"><h2>DATOS DEL PADRE</h2></div>
        <div class="editor-label">
            <label class="extended" for="fatherName">APELLIDOS Y NOMBRES</label>
            <input class="extendedInput" type="text" name="fatherName">
        </div>
        <div class="editor-label">
            <label class="extended" for="fatherProfesion">PROFESION U OCUPACION</label>
            <input class="extendedInput" type="text" name="fatherProfesion">
        </div>
        <div class="editor-label">
            <label for="fatherNationality">NACIONALIDAD</label>
            <input type="text" name="fatherNationality">
        </div>
        <div class="editor-label">
            <label class="extended" for="">NIVEL DE INSTRUCCION:</label>
            <select>
                <option value="ninguno">Ninguno</option>
                <option value="primario">Primario</option>
                <option value="secundario">Secundario</option>
                <option value="terciario">Terciario</option>
                <option value="universitario">Universitario</option>
                <option value="posgrado">Posgrado</option>
            </select>
            <input type="radio" name="instructionLevelFatherCompleted" value="Completo" /> Completo
            <input type="radio" name="instructionLevelFatherCompleted" value="Incompleto" /> Incompleto
            Hasta el año/grado <input type="text" name="yearInstructionLevelFather">
        </div>
        <div class="editor-label">
            <label for="">¿VIVE?</label>
            <select>
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>
        </div>
        <div class="editor-label">
            <label class="extended" for="typeDNIFather">TIPO DE DOCUMENTO</label>
            <input type="text" name="typeDNIFather">
        </div>
        <div class="editor-label">
            <label for="numberDNIFather">N° DOC.</label>
            <input type="number" name="numberDNIFather">
        </div>
        <div class="editor-label">
            DOMICILIO<br>
            <label for="streetFather">CALLE</label>
            <input class="extendedInput" type="text" name="streetFather">
            <label for="numberStreetFather">N°</label>
            <input type="number" name="numberStreetFather">
        </div>
        <div class="editor-label">
            <label for="streetFloorFather">PISO</label>
            <input type="text" name="streetFloorFather">
            <label for="streetTowerFather">TORRE</label>
            <input type="text" name="streetTowerFather">
            <label for="streetDptoFather">DPTO</label>
            <input type="text" name="streetDptoFather">
        </div>
        <div class="editor-label">
            <label for="localidadFather">LOCALIDAD</label>
            <input class="extendedInput" type="text" name="localidadFather">
            <label for="postalCodeFather">CODIGO POSTAL</label>
            <input type="number" name="postalCodeFather">
        </div>
        <div class="editor-label">
            <label for="phoneFather">TELEFONO</label>
            <input type="text" name="phoneFather">
        </div>
        <div class="editor-label">
            <label class="extended" for="workPhoneFather">TELEFONOS DEL TRABAJO</label>
            <input type="text" name="workPhoneFather">
        </div>
        <div class="editor-title-end"></div>
        <div class="editor-title-section"><h2>DATOS DEL TUTOR/RESPONSABLE</h2></div>
        <div class="editor-label">
            <label class="extended" for="tutorName">APELLIDOS Y NOMBRES</label>
            <input class="extendedInput" type="text" name="tutorName">
        </div>
        <div class="editor-label">
            <label class="extended" for="tutorProfesion">PROFESION U OCUPACION</label>
            <input class="extendedInput" type="text" name="tutorProfesion">
        </div>
        <div class="editor-label">
            <label for="tutorNationality">NACIONALIDAD</label>
            <input type="text" name="tutorNationality">
        </div>
        <div class="editor-label">
            <label class="extended" for="">NIVEL DE INSTRUCCION:</label>
            <select>
                <option value="ninguno">Ninguno</option>
                <option value="primario">Primario</option>
                <option value="secundario">Secundario</option>
                <option value="terciario">Terciario</option>
                <option value="universitario">Universitario</option>
                <option value="posgrado">Posgrado</option>
            </select>
            <input type="radio" name="instructionLevelTutorCompleted" value="Completo" /> Completo
            <input type="radio" name="instructionLevelTutorCompleted" value="Incompleto" /> Incompleto Hasta el año/grado <input type="text" name="yearInstructionLevelTutor"><br>
        </div>
        <div class="editor-label">
            <label for="">¿VIVE?</label>
            <select>
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>
        </div>
        <div class="editor-label">
            <label class="extended" for="typeDNITutor">TIPO DE DOCUMENTO</label>
            <input type="text" name="typeDNITutor">
        </div>
        <div class="editor-label">
            <label for="numberDNITutor">N° DOC.</label>
            <input type="number" name="numberDNITutor">
        </div>
        <div class="editor-label">
            Domicilio<br>
            <label for="streetTutor">CALLE</label>
            <input class="extendedInput" type="text" name="streetTutor">
            <label for="numberStreetTutor">N°</label>
            <input type="number" name="numberStreetTutor">
        </div>
        <div class="editor-label">
            <label for="streetFloorTutor">PISO</label>
            <input type="text" name="streetFloorTutor">
            <label for="streetTowerTutor">TORRE</label>
            <input type="text" name="streetTowerTutor">
            <label for="streetDptoTutor">DPTO</label>
            <input type="text" name="streetDptoTutor">
        </div>
        <div class="editor-label">
            <label for="localidadTutor">LOCALIDAD</label>
            <input class="extendedInput" type="text" name="localidadTutor">
            <label for="postalCodeTutor">CODIGO POSTAL</label>
            <input type="number" name="postalCodeTutor">
        </div>
        <div class="editor-label">
            <label for="phoneTutor">TELEFONO</label>
            <input type="text" name="phoneTutor">
        </div>
        <div class="editor-label">
            <label class="extended" for="workPhoneTutor">TELEFONOS DEL TRABAJO</label>
            <input type="text" name="workPhoneTutor">
        </div>

        <div class="editor-title-end"></div>
        <input class="regularbtn float-left" type="submit" value="Inscribir" />
        <div class="secbtn">@Html.ActionLink("Imprimir Inscripción", "printEmptyRegistrationRequest", "RegistrationRequest")</div>
        <div class="secbtn">@Html.ActionLink("Volver", "Index")</div>
    </fieldset>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $('#otroEst').change(function () {
        if (this.checked)
            document.getElementById("escuelaProcedencia").style.display = "block";
        else
            document.getElementById("escuelaProcedencia").style.display = "none";
    });
</script>
}