<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>SOLICITUD DE INGRESO</title>
	<style>
		body {
			margin: 0 10% 0;
		}
		div {
			float: left;
			width:  100%;
		}
		p {
			display: inline-block;
            margin: 1px 0;
		}
		h4, h5 {
			margin-top: 0;
			margin-bottom: 0;	
			display: inline-block;
		}
		ul {
			margin-top: 0;
			margin-bottom: 0;
			padding-left: 2px;
			list-style-position: inside;
		}
		ol {
		    margin: 0;
			padding: 20px;
            list-style-position: inside;
		}

        span {
            margin: 5px 0;
        }

        div.ol.li.p {
            line-height: 175%;
        }
		
		/*titulo-general*/ 
		div.titulo-demarcado {
			border-top: 1px solid #000000;
			border-bottom: 1px solid #000000;
		}
		div.titulo-demarcado h2 {
			margin: 10px 0;
			font-weight: bold;
			text-align:  center;
		}
		
	</style>
</head>
<body>
    <div>
        <img src="@Url.Content("http://localhost:49275/Content/Images/logo_pdf.png")" hspace="12" width="170" height="140" style="float: right;">
	</div>
    <div style="text-align:  center; margin: 10px 0 0 0;">
        <h3>PROVINCIA DE BUENOS AIRES</h3>
    </div>
    <div style="text-align:  center;">
        <p style="margin: 10px 0;">
            <font size="4">DIRECCIÓN GENERAL DE CULTURA Y EDUCACIÓN</font>
        </p>
    </div>
    <div class="titulo-demarcado">
		<h2>SOLICITUD DE INSCRIPCIÓN – AÑO LECTIVO 2018</h2>
	</div>
    <div class="titulo-demarcado" style="margin: 10px 0;">
		<ul>
			<li>
				<h4>DATOS DEL ESTABLECIMIENTO EDUCATIVO:</h4>
			</li>
		</ul>
	</div>
	<div>
		<p>
			<font size="2">
				Nombre del Establecimiento : ESCUELA DE LA CIUDAD
			</font>
		</p><br>
		<p>
			<font size="2">Número de DIEGEP: 5295           Distrito: Bahía Blanca  			Escuela Privada</font>
		</p>
        <div class="titulo-demarcado" style="margin: 30px 0 10px 0;">
            <ul>
                <li>
                    <h4>EL ALUMNO SE INSCRIBE EN:</h4><p>(marque con una cruz lo que corresponda)</p>
                </li>
            </ul>
        </div><br />
		<h5>NIVEL/RAMA :</h5><br>
		<div>
            <table style="width:100%;" cellpadding="5" cellspacing="0">
                <tbody>
                    <tr valign="TOP">
                        <td width="58" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.05in; padding-right: 0in">
                            <h5 style="font-weight: normal"><font size="2" style="font-size: 9pt">Inicial</font></h5>
                        </td>
                        <td width="59" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.05in; padding-right: 0in">
                            <h5 style="font-weight: normal"><font size="2" style="font-size: 9pt">E.G.B.</font></h5>
                        </td>
                        <td width="59" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.05in; padding-right: 0in">
                            <h5 style="font-weight: normal"><font size="2" style="font-size: 9pt">Polimodal</font></h5>
                        </td>
                        <td width="53" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.05in; padding-right: 0in">
                            <h5 style="font-weight: normal"><font size="2" style="font-size: 9pt">C.E.F.</font></h5>
                        </td>
                        <td width="65" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.05in; padding-right: 0in">
                            <h5 style="font-weight: normal"><font size="2" style="font-size: 9pt">C.E.C.</font></h5>
                        </td>
                        <td width="59" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.05in; padding-right: 0in">
                            <h5 style="font-weight: normal"><font size="2" style="font-size: 9pt">Especial</font></h5>
                        </td>
                        <td width="59" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.05in; padding-right: 0in">
                            <h5 style="font-weight: normal"><font size="2" style="font-size: 9pt">Adultos</font></h5>
                        </td>
                        <td width="59" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.05in; padding-right: 0in">
                            <h5 style="font-weight: normal"><font size="2" style="font-size: 9pt">Artística</font></h5>
                        </td>
                        <td width="59" style="border: 1px solid #000000; padding: 0in 0.05in">
                            <h5 style="font-weight: normal"><font size="2" style="font-size: 9pt">Otro:</font></h5>
                        </td>
                    </tr>
                </tbody>
            </table>
		</div>
		<h5>AÑO:</h5><br>
		<div>
            <table style="width:100%;" cellpadding="5" cellspacing="0">
                <tbody>
                    <tr valign="TOP">
                        <td width="53" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.05in; padding-right: 0in">
                            <h5 style="font-weight: normal"><font size="2" style="font-size: 9pt">1º</font></h5>
                        </td>
                        <td width="54" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.05in; padding-right: 0in">
                            <h5 style="font-weight: normal"><font size="2" style="font-size: 9pt">2º</font></h5>
                        </td>
                        <td width="54" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.05in; padding-right: 0in">
                            <h5 style="font-weight: normal"><font size="2" style="font-size: 9pt">3º</font></h5>
                        </td>
                        <td width="54" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.05in; padding-right: 0in">
                            <h5 style="font-weight: normal"><font size="2" style="font-size: 9pt">4º</font></h5>
                        </td>
                        <td width="54" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.05in; padding-right: 0in">
                            <h5 style="font-weight: normal"><font size="2" style="font-size: 9pt">5º</font></h5>
                        </td>
                        <td width="54" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.05in; padding-right: 0in">
                            <h5 style="font-weight: normal"><font size="2" style="font-size: 9pt">6º</font></h5>
                        </td>
                        <td width="54" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.05in; padding-right: 0in">
                            <h5 style="font-weight: normal"><font size="2" style="font-size: 9pt">7º</font></h5>
                        </td>
                        <td width="54" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.05in; padding-right: 0in">
                            <h5 style="font-weight: normal"><font size="2" style="font-size: 9pt">8º</font></h5>
                        </td>
                        <td width="54" style="border: 1px solid #000000; padding: 0in 0.05in">
                            <h5 style="font-weight: normal"><font size="2" style="font-size: 9pt">9º</font></h5>
                        </td>
                    </tr>
                </tbody>
            </table>
		</div>
		<p><font size="2"><b>TURNO SOLICITADO</b>:</font></p><br>
        <table style="width:100%;" cellpadding="5" cellspacing="0">
            <tbody>
                <tr valign="TOP">
                    <td width="104" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.05in; padding-right: 0in">
                        <p align="CENTER"><font size="2">Mañana</font></p>
                    </td>
                    <td width="105" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.05in; padding-right: 0in">
                        <p align="CENTER"><font size="2">Tarde</font></p>
                    </td>
                    <td width="105" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.05in; padding-right: 0in">
                        <p><font size="2">Jornada Completa</font></p>
                    </td>
                    <td width="105" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.05in; padding-right: 0in">
                        <p align="CENTER"><font size="2">Vespertino</font></p>
                    </td>
                    <td width="105" style="border: 1px solid #000000; padding: 0in 0.05in">
                        <p align="CENTER"><font size="2">Noche</font></p>
                    </td>
                </tr>
            </tbody>
        </table>
	</div>
	<div>
        <div class="titulo-demarcado" style="margin: 30px 0 10px 0;">
            <ul>
                <li>
                    <h4>DATOS PERSONALES DEL ALUMNO/A</h4>
                </li>
            </ul>
        </div>
        <ol>
            <li>
                <p>
                    <font size="3">
                        Nombre(s): ..................................................................................................................................................
                    </font>
                </p>
            </li>
            <li>
                <p>
                    <font size="3">
                        Apellido(s): ..................................................................................................................................................
                    </font>
                </p>
            </li>
            <li>
                <p>
                    <font size="3">
                        Fecha y lugar de nacimiento: .........................................................................................................................
                    </font>
                </p>
            </li>
            <li>
                <p>
                    <font size="3">
                        D.N.I.: ............................................................... Sexo: ................................................................................
                    </font>
                </p>
            </li>
            <li>
                <p style="line-height: 150%">
                    <font size="3">
                        Domicilio familiar: Calle: ............................................................................ Nº: ......... Piso: ........ Dto.: .........
                    </font>
                </p>
            </li>
            <li>
                <p style="line-height: 150%">
                    <font size="3">
                        Localidad: ...........................................................................................................  Código Postal: .................
                    </font>
                </p>
            </li>
            <li>
                <p style="line-height: 150%">
                    <font size="3">
                        Teléfono familiar: ............................................................ Celular: .................................................................
                    </font>
                </p>
            </li>
            <li>
                <p style="line-height: 150%">
                    <font size="3">
                        Otros teléfonos (abuela, etc.): .......................................................................................................................
                    </font>
                </p>
            </li>
            <li>
                <p style="line-height: 150%">
                    <font size="2">
                        <font size="3">
                            <span>
                                Dirección de e-mail del padre: ......................................................................................................................
                            </span>
                        </font>
                    </font>
                </p>
            </li>
            <li>
                <p style="line-height: 150%">
                    <font size="3">
                        Dirección de e-mail de la madre: .................................................................................................................
                    </font>
                </p>
            </li>
        </ol>
		<p>
			<font size="3">
				¿Cuántos hermanos tiene? ............................ ¿Cuántos en este establecimiento? .....................................................
			</font>
		</p>
		<p>
			<font size="3">
				Fecha de nacimiento de los hermanos que quiere dejar inscriptos:.............................................................................
			</font>
		</p><br><br>
		<p>
			<font size="3">
				Si no habla español, lengua hablada en el hogar:.......................................................................................................
			</font>
		</p><br><br>
        <table style="width:100%;">
            <tbody>
                <tr>
                    <td colspan="2" width="100%" style="border: 1px solid #000000; padding: 0">
                        <p style="padding-bottom: 20px;">
                            <font size="2">
                                <font size="3">
                                    <span>ESCUELA DE PROCEDENCIA</span>
                                </font>
                                <span>
                                    (completar si el alumno proviene de  otro establecimiento)
                                </span>
                            </font>
                        </p>
                        <p style="padding-bottom: 20px;">
                            <font size="3">
                                <span style="padding-right: 30px;">
                                    Distrito:........................................
                                </span>
                                <span>
                                    Nivel/Rama:..........................................
                                </span>
                            </font>
                        </p>
                        <p>
                            <font size="2">
                                <font size="3">
                                    <span style="padding-right: 10px;">
                                        Nombre del Establecimiento: ..........................................
                                    </span>
                                </font>
                                <font size="3">
                                    <span style="padding-right: 30px;">
                                        Nro:
                                    </span>
                                </font>
                                <font size="3">
                                    <span style="padding-right: 10px;">
                                        Público
                                    </span>
                                </font>
                                <font size="3">
                                    <span>
                                        Privado
                                    </span>
                                </font>
                            </font>
                        </p>
                    </td>
                </tr>
                <tr style="height:30px;">
                    <td width="55%" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding: 0">
                        <p>
                            <font size="2">
                                <font size="2" style="font-size: 9pt">
                                    <span>
                                        INFORMACIÓN DE SALUD:
                                    </span>
                                </font>
                                <span style="padding-right: 30px;">
                                    completó
                                </span>
                                <span style="padding-right: 30px;">
                                    actualizó
                                </span>
                            </font>
                        </p>
                    </td>
                    <td width="45%" style="border: 1px solid #000000; padding: 0;">
                        <h2>
                            <font size="2" style="font-size: 9pt">
                                <span>
                                    Obra Social:......................
                                </span>
                                <span>
                                    Nº Afiliado.........................
                                </span>
                            </font>
                        </h2>
                    </td>
                </tr>
            </tbody>
        </table><br><br>
		<div class="titulo-demarcado" >
			<ul>
				<li>
					<h4>DATOS DE LA MADRE, PADRE Y/O RESPONSABLE DEL ALUMNO/A:</h4>
				</li>
			</ul>
		</div>
		<p>
			<font size="3">
				Apellido/s y Nombres de la Madre...................................................................................................................
			</font>
		</p>
		<p>
			<font size="3">
				Profesión u ocupación.........................................................................................................
			</font>
		</p>
		<p><font size="3">Nacionalidad........................................................................................................................</font></p>
		<p>
			<font size="3">
				Nivel de instrucción de la madre: (marque el último nivel alcanzado)
			</font>
		</p>
        <table style="width:100%;" cellpadding="7" cellspacing="0">
            <tbody>
                <tr valign="TOP">
                    <td width="88" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                        <p><font size="3">Ninguno</font></p>
                    </td>
                    <td width="89" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                        <p><font size="3">Primario</font></p>
                    </td>
                    <td width="89" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                        <p><font size="3">secundario</font></p>
                    </td>
                    <td width="89" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                        <p><font size="3">Terciario</font></p>
                    </td>
                    <td width="89" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                        <p><font size="3">Universitario</font></p>
                    </td>
                    <td width="89" style="border: 1px solid #000000; padding: 0in 0.08in">
                        <p><font size="3">Posgrado</font></p>
                    </td>
                </tr>
                <tr valign="TOP">
                    <td colspan="2" width="191" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                        <p>
                            <font size="2">
                                <font size="3">
                                    <span>
                                        Estudios completos
                                    </span>
                                </font><font face="Symbol, serif"><font size="3"><span></span></font></font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="192" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                        <p>
                            <font size="2">
                                <font size="3">
                                    <span>
                                        Estudios incompletos
                                    </span>
                                </font><font face="Symbol, serif"><font size="3"><span></span></font></font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="192" style="border: 1px solid #000000; padding: 0in 0.08in">
                        <p>
                            <font size="3">
                                Hasta el año/grado:............
                            </font>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
		<p>
			<br>
		</p>
		<p>
			<font size="2">
				<font size="3">
					<span >
						¿Vive?
						Si
					</span>
				</font><font face="Symbol, serif"><font size="3"><span ></span></font></font><font size="3">
					<span >
						No
					</span>
				</font><font face="Symbol, serif"><font size="3"><span ></span></font></font><font size="3">
					<span >
						Tipo de documento:   ............  Nº Doc....................................
					</span>
				</font>
			</font>
		</p>
		<p>
			<font size="3">
				Domicilio – Calle:.............................. Nº.................  Piso........
				Torre..............  Dto.......
			</font>
		</p>
		<p>
			<font size="3">
				Localidad...............................
				Código Postal ........................
				Teléfono.......................................
			</font>
		</p>
		<p>
			<font size="3">
				Teléfonos del trabajo...........................................................................................................
			</font>
		</p>
		<p style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in">
		</p>
		<p>
			<font size="3">
				Apellido/s y Nombres del Padre.........................................................................................
			</font>
		</p>
		<p>
			<font size="3">
				Profesión u ocupación.........................................................................................................
			</font>
		</p>
		<p><font size="3">Nacionalidad........................................................................................................................</font></p>
		<p>
			<font size="3">
				Nivel de instrucción del Padre: (marque el último nivel alcanzado)
			</font>
		</p>
        <table style="width:100%;" cellpadding="7" cellspacing="0">
            <tbody>
                <tr valign="TOP">
                    <td width="88" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                        <p><font size="3">Ninguno</font></p>
                    </td>
                    <td width="89" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                        <p><font size="3">Primario</font></p>
                    </td>
                    <td width="89" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                        <p><font size="3">secundario</font></p>
                    </td>
                    <td width="89" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                        <p><font size="3">Terciario</font></p>
                    </td>
                    <td width="89" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                        <p><font size="3">Universitario</font></p>
                    </td>
                    <td width="89" style="border: 1px solid #000000; padding: 0in 0.08in">
                        <p><font size="3">Posgrado</font></p>
                    </td>
                </tr>
                <tr valign="TOP">
                    <td colspan="2" width="191" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                        <p>
                            <font size="2">
                                <font size="3">
                                    <span>
                                        Estudios completos
                                    </span>
                                </font><font face="Symbol, serif"><font size="3"><span></span></font></font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="192" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                        <p>
                            <font size="2">
                                <font size="3">
                                    <span>
                                        Estudios incompletos
                                    </span>
                                </font><font face="Symbol, serif"><font size="3"><span></span></font></font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="192" style="border: 1px solid #000000; padding: 0in 0.08in">
                        <p>
                            <font size="3">
                                Hasta el año/grado:............
                            </font>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
		<p>
			<br>
		</p>
		<p>
			<font size="2">
				<font size="3">
					<span >
						¿Vive?
						Si
					</span>
				</font><font face="Symbol, serif"><font size="3"><span ></span></font></font><font size="3">
					<span >
						No
					</span>
				</font><font face="Symbol, serif"><font size="3"><span ></span></font></font><font size="3">
					<span >
						Tipo de documento:   ............  Nº Doc.....................................
					</span>
				</font>
			</font>
		</p>
		<p>
			<font size="3">
				Domicilio – Calle:
				...................................... Nº...............
				Piso........   Torre......... Dto........
			</font>
		</p>
		<p>
			<font size="3">
				Localidad...............................
				Código Postal ........................
				Teléfono.......................................
			</font>
		</p>
		<p>
			<font size="3">
				Teléfonos del trabajo..........................................................................................................
			</font>
		</p>
		<p style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in">
			<br>
		</p>
		<p>
			<font size="3">
				Apellido/s y Nombres del Tutor/responsable.....................................................................
			</font>
		</p>
		<p>
			<font size="3">
				Profesión u ocupación........................................................................................................
			</font>
		</p>
		<p><font size="3">Nacionalidad.......................................................................................................................</font></p>
		<p>
			<font size="3">
				Nivel  de instrucción del Tutor/responsable: (marque el último nivel alcanzado)
			</font>
		</p>
        <table style="width:100%;" cellpadding="7" cellspacing="0">
            <tbody>
                <tr valign="TOP">
                    <td width="88" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                        <p><font size="3">Ninguno</font></p>
                    </td>
                    <td width="89" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                        <p><font size="3">Primario</font></p>
                    </td>
                    <td width="89" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                        <p><font size="3">secundario</font></p>
                    </td>
                    <td width="89" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                        <p><font size="3">Terciario</font></p>
                    </td>
                    <td width="89" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                        <p><font size="3">Universitario</font></p>
                    </td>
                    <td width="89" style="border: 1px solid #000000; padding: 0in 0.08in">
                        <p><font size="3">Posgrado</font></p>
                    </td>
                </tr>
                <tr valign="TOP">
                    <td colspan="2" width="191" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                        <p>
                            <font size="2">
                                <font size="3">
                                    <span>
                                        Estudios completos
                                    </span>
                                </font><font face="Symbol, serif"><font size="3"><span></span></font></font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="192" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                        <p>
                            <font size="2">
                                <font size="3">
                                    <span>
                                        Estudios incompletos
                                    </span>
                                </font><font face="Symbol, serif"><font size="3"><span></span></font></font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="192" style="border: 1px solid #000000; padding: 0in 0.08in">
                        <p>
                            <font size="3">
                                Hasta el año/grado:............
                            </font>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
		<p>
			<font size="2">
				<font size="3">
					<span >
						¿Vive?
						Si
					</span>
				</font><font face="Symbol, serif"><font size="3"><span ></span></font></font><font size="3">
					<span >
						No
					</span>
				</font><font face="Symbol, serif"><font size="3"><span ></span></font></font><font size="3">
					<span >
						Tipo de documento:   ............  Nº Doc....................................
					</span>
				</font>
			</font>
		</p>
		<p>
			<font size="3">
				Domicilio – Calle:.................................. Nº.............. Piso........
				Torre..............  Dto........
			</font>
		</p>
		<p >
			<font size="3">
				Localidad...............................
				Código Postal........................
				Teléfono.......................................
			</font>
		</p>
		<p>
			<font size="3">
				Teléfonos del trabajo..........................................................................................................
			</font>
		</p>
		<p style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in">
		</p>
		<p>
			<font size="2">
				OTRA PERSONA AUTORIZADA A RETIRAR AL ALUMNO DEL ESTABLECIMIENTO:
			</font>
		</p>
		<p>
			<font size="2">
				Apellido/s y Nombre:.................................. Tipo doc................................... Nº Doc.....................................
			</font>
		</p>
		<p style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in">
		</p>
		<p>
			<font size="2">
				Fecha de inscripción..../...../.....
				...............................
				..............................
			</font>
		</p>
		<p>
			<font size="2">
				Firma del responsable
				Aclaración
			</font>
		</p>
	</div>
</body>
</html>